# original exclusions
# .vscode/**
# .vscode-test/**
# out/test/**
# out/**/*.map
# src/**
# .gitignore
# tsconfig.json
# vsc-extension-quickstart.md
# tslint.json

# exclusions from extensionSample

# Unwanted compiled files
out/test/**
out/**/*.map
*.vsix

# Build/Source files
src/**
tasks/**
test/**
typings/**
packages/**
samples/**
.gitignore
tsconfig.json

# IDE Settings
.vscode/**
.vscode-test/**
.idea/**
.sqlops/**

# Reference files
**/*.ts
**/*.map
.gitignore
tsconfig.json
*.exe
*.dat
gulpfile.js